In [18]:
from pathlib import Path
from settings import INTERIM_DATA_DIR, PROCESSED_DATA_DIR
import pandas as pd

matches_df = pd.read_csv(Path(PROCESSED_DATA_DIR, 'bundesliga_matches.csv'))
odds_df = pd.read_csv(Path(INTERIM_DATA_DIR, 'bundesliga_odds.csv'))

In [19]:
matches_df.head()

,gf_rolling_avg,ga_rolling_avg,xg_rolling_avg,xga_rolling_avg,poss_rolling_avg,attendance_rolling_avg,shooting_standard_sh_rolling_avg,shooting_standard_sot_rolling_avg,shooting_standard_sot%_rolling_avg,shooting_standard_g/sh_rolling_avg,...,opponent_code,venue_code,hour,day_code,month_code,target,date,team,opponent,venue
0,0.666667,0.666667,0.700000,1.366667,49.000000,4086.666667,9.333333,3.333333,35.433333,0.073333,...,3,1,18,5,10,0,2020-10-17,Arminia,Bayern Munich,Home
1,0.666667,1.666667,0.900000,1.633333,47.666667,NaN,9.000000,3.666667,39.500000,0.076667,...,26,0,15,6,10,0,2020-10-25,Arminia,Wolfsburg,Away
2,0.666667,2.333333,1.000000,1.900000,49.333333,NaN,9.666667,3.333333,33.666667,0.066667,...,6,1,15,5,10,0,2020-10-31,Arminia,Dortmund,Home
3,0.666667,2.666667,0.733333,2.566667,37.000000,NaN,8.333333,2.666667,32.200000,0.066667,...,24,0,15,5,11,0,2020-11-07,Arminia,Union Berlin,Away
4,0.333333,3.000000,0.366667,2.200000,42.000000,NaN,6.666667,1.333333,22.600000,0.036667,...,2,1,15,5,11,0,2020-11-21,Arminia,Bayer Leverkusen,Home

In [20]:
odds_df.head()

,date,team,opponent,fthg,ftag,ftr,hthg,htag,htr,hs,...,bbmx>2.5,bbav>2.5,bbmx<2.5,bbav<2.5,bbah,bbahh,bbmxahh,bbavahh,bbmxaha,bbavaha
0,2022-08-05,Eintracht Frankfurt,Bayern Munich,1,6,A,0,5,A,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-08-06,Augsburg,Freiburg,0,4,A,0,0,D,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-08-06,Bochum,Mainz 05,1,2,A,1,1,D,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-08-06,Monchengladbach,Hoffenheim,3,1,H,1,1,D,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-08-06,Union Berlin,Hertha BSC,3,1,H,1,0,H,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# show length of both datasets
print(len(matches_df) / 2)
print(len(odds_df))

1894.5
1935

In [22]:
# show df teams and odds_df teams
print(matches_df['team'].unique())
print(odds_df['team'].unique())
print('---------------------')
# print diff between the sets
print(set(matches_df['team'].unique()) - set(odds_df['team'].unique()))
print(set(odds_df['team'].unique()) - set(matches_df['team'].unique()))

['Arminia' 'Augsburg' 'Bayer Leverkusen' 'Bayern Munich' 'Bochum'
 'Darmstadt 98' 'Dortmund' 'Dusseldorf' 'Eintracht Frankfurt' 'Freiburg'
 'Greuther Furth' 'Hamburger SV' 'Hannover 96' 'Heidenheim' 'Hertha BSC'
 'Hoffenheim' 'Koln' 'Mainz 05' 'Monchengladbach' 'Nurnberg'
 'Paderborn 07' 'RB Leipzig' 'Schalke 04' 'Stuttgart' 'Union Berlin'
 'Werder Bremen' 'Wolfsburg']
['Eintracht Frankfurt' 'Augsburg' 'Bochum' 'Monchengladbach'
 'Union Berlin' 'Wolfsburg' 'Dortmund' 'Stuttgart' 'Koln' 'Freiburg'
 'Hertha BSC' 'Hoffenheim' 'Bayer Leverkusen' 'RB Leipzig' 'Werder Bremen'
 'Schalke 04' 'Mainz 05' 'Bayern Munich' 'Arminia' 'Dusseldorf'
 'Paderborn 07' 'Greuther Furth' 'Darmstadt 98' 'Heidenheim'
 'Hamburger SV' 'Hannover 96' 'Nurnberg']
---------------------
set()
set()

In [23]:
# show matches played on 2019-08-16
matches_df[matches_df['date'] == '2019-08-16']

,gf_rolling_avg,ga_rolling_avg,xg_rolling_avg,xga_rolling_avg,poss_rolling_avg,attendance_rolling_avg,shooting_standard_sh_rolling_avg,shooting_standard_sot_rolling_avg,shooting_standard_sot%_rolling_avg,shooting_standard_g/sh_rolling_avg,...,opponent_code,venue_code,hour,day_code,month_code,target,date,team,opponent,venue
554,2.666667,0.666667,3.600000,0.800000,65.000000,63979.666667,20.333333,10.666667,51.300000,0.110000,...,14,1,20,4,8,0,2019-08-16,Bayern Munich,Hertha BSC,Home
1686,2.666667,3.000000,2.166667,1.733333,49.333333,45754.000000,15.000000,5.666667,40.333333,0.156667,...,3,0,20,4,8,0,2019-08-16,Hertha BSC,Bayern Munich,Away

In [24]:
odds_df[odds_df['date'] == '2019-08-16']

,date,team,opponent,fthg,ftag,ftr,hthg,htag,htr,hs,...,bbmx>2.5,bbav>2.5,bbmx<2.5,bbav<2.5,bbah,bbahh,bbmxahh,bbavahh,bbmxaha,bbavaha
612,2019-08-16,Bayern Munich,Hertha BSC,2,2,D,1,2,A,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# create a uniqe identifier key for each match
# for matches_df if venue == 'Home', key = date_team_opponent
# for matches_df if venue == 'Away', key = date_opponent_team

matches_df.insert(0,'key','')
matches_df['key'] = matches_df.apply(
    lambda x: f"{x['date']}_{x['team']}_{x['opponent']}" if x['venue'] == 'Home' else f"{x['date']}_{x['opponent']}_{x['team']}",
    axis=1
)
matches_df.head()

,key,gf_rolling_avg,ga_rolling_avg,xg_rolling_avg,xga_rolling_avg,poss_rolling_avg,attendance_rolling_avg,shooting_standard_sh_rolling_avg,shooting_standard_sot_rolling_avg,shooting_standard_sot%_rolling_avg,...,opponent_code,venue_code,hour,day_code,month_code,target,date,team,opponent,venue
0,2020-10-17_Arminia_Bayern Munich,0.666667,0.666667,0.700000,1.366667,49.000000,4086.666667,9.333333,3.333333,35.433333,...,3,1,18,5,10,0,2020-10-17,Arminia,Bayern Munich,Home
1,2020-10-25_Wolfsburg_Arminia,0.666667,1.666667,0.900000,1.633333,47.666667,NaN,9.000000,3.666667,39.500000,...,26,0,15,6,10,0,2020-10-25,Arminia,Wolfsburg,Away
2,2020-10-31_Arminia_Dortmund,0.666667,2.333333,1.000000,1.900000,49.333333,NaN,9.666667,3.333333,33.666667,...,6,1,15,5,10,0,2020-10-31,Arminia,Dortmund,Home
3,2020-11-07_Union Berlin_Arminia,0.666667,2.666667,0.733333,2.566667,37.000000,NaN,8.333333,2.666667,32.200000,...,24,0,15,5,11,0,2020-11-07,Arminia,Union Berlin,Away
4,2020-11-21_Arminia_Bayer Leverkusen,0.333333,3.000000,0.366667,2.200000,42.000000,NaN,6.666667,1.333333,22.600000,...,2,1,15,5,11,0,2020-11-21,Arminia,Bayer Leverkusen,Home

In [26]:
# for odds_df key = date_team_opponent
odds_df.insert(0,'key','')
odds_df['key'] = odds_df.apply(
    lambda x: f"{x['date']}_{x['team']}_{x['opponent']}",
    axis=1
)
# drop date, team, opponent columns to not create duplicates when merging
odds_df.drop(columns=['date','team','opponent'], inplace=True)
odds_df.head()

,key,fthg,ftag,ftr,hthg,htag,htr,hs,as,hst,...,bbmx>2.5,bbav>2.5,bbmx<2.5,bbav<2.5,bbah,bbahh,bbmxahh,bbavahh,bbmxaha,bbavaha
0,2022-08-05_Eintracht Frankfurt_Bayern Munich,1,6,A,0,5,A,8,23,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-08-06_Augsburg_Freiburg,0,4,A,0,0,D,10,19,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-08-06_Bochum_Mainz 05,1,2,A,1,1,D,16,13,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-08-06_Monchengladbach_Hoffenheim,3,1,H,1,1,D,18,2,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-08-06_Union Berlin_Hertha BSC,3,1,H,1,0,H,18,9,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
## see difference in keys
print(set(matches_df['key'].unique()) - set(odds_df['key'].unique()))
print(set(odds_df['key'].unique()) - set(matches_df['key'].unique()))
print('---------------------')
# We do expect to have matches missing from 2017 because we dropped them to create rolling averages
# iterate and make sure each key starts with 2017
for key in set(odds_df['key'].unique()) - set(matches_df['key'].unique()):
    print(key[:4])

set()
{'2017-09-09_Monchengladbach_Eintracht Frankfurt', '2017-08-19_Wolfsburg_Dortmund', '2017-08-27_RB Leipzig_Freiburg', '2017-08-20_Freiburg_Eintracht Frankfurt', '2017-08-18_Bayern Munich_Bayer Leverkusen', '2017-09-09_Augsburg_Koln', '2017-08-26_Bayer Leverkusen_Hoffenheim', '2017-09-08_Hamburger SV_RB Leipzig', '2017-09-09_Wolfsburg_Hannover 96', '2017-09-09_Mainz 05_Bayer Leverkusen', '2017-09-10_Hertha BSC_Werder Bremen', '2017-09-10_Schalke 04_Stuttgart', '2017-08-26_Stuttgart_Mainz 05', '2017-08-19_Hoffenheim_Werder Bremen', '2017-08-26_Werder Bremen_Bayern Munich', '2017-08-27_Hannover 96_Schalke 04', '2017-08-19_Hamburger SV_Augsburg', '2017-08-19_Schalke 04_RB Leipzig', '2017-08-25_Koln_Hamburger SV', '2017-08-19_Hertha BSC_Stuttgart', '2017-09-09_Freiburg_Dortmund', '2017-09-09_Hoffenheim_Bayern Munich', '2017-08-19_Mainz 05_Hannover 96', '2017-08-26_Dortmund_Hertha BSC', '2017-08-26_Augsburg_Monchengladbach', '2017-08-26_Eintracht Frankfurt_Wolfsburg', '2017-08-20_Monchengladbach_Koln'}
---------------------
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017

In [28]:
# merge the datasets based on those keys
merged_df = pd.merge(matches_df, odds_df, on='key', how='left')
merged_df.head()

,key,gf_rolling_avg,ga_rolling_avg,xg_rolling_avg,xga_rolling_avg,poss_rolling_avg,attendance_rolling_avg,shooting_standard_sh_rolling_avg,shooting_standard_sot_rolling_avg,shooting_standard_sot%_rolling_avg,...,bbmx>2.5,bbav>2.5,bbmx<2.5,bbav<2.5,bbah,bbahh,bbmxahh,bbavahh,bbmxaha,bbavaha
0,2020-10-17_Arminia_Bayern Munich,0.666667,0.666667,0.700000,1.366667,49.000000,4086.666667,9.333333,3.333333,35.433333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-10-25_Wolfsburg_Arminia,0.666667,1.666667,0.900000,1.633333,47.666667,NaN,9.000000,3.666667,39.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-10-31_Arminia_Dortmund,0.666667,2.333333,1.000000,1.900000,49.333333,NaN,9.666667,3.333333,33.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-11-07_Union Berlin_Arminia,0.666667,2.666667,0.733333,2.566667,37.000000,NaN,8.333333,2.666667,32.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-11-21_Arminia_Bayer Leverkusen,0.333333,3.000000,0.366667,2.200000,42.000000,NaN,6.666667,1.333333,22.600000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
from reduce_memory_usage import reduce_memory_usage 

merged_df = reduce_memory_usage(merged_df)

Memory usage of dataframe is 8.06539535522461 MB
Memory usage of dataframe after reduction 2.0234336853027344 MB
Reduced by 74.91215748038944 %